<nav class="navbar">
  <div class="navbar-left">
    <a class="logo" routerLink="/">
      <i class="far fa-clock"></i>
      <span class="logo-text">StudyHub</span>
    </a>
  </div>

  <div class="navbar-right">
    <ul class="nav-links">
      <li>
        <a routerLink="/focus-room">
          <i class="far fa-clock"></i> Focus Room
        </a>
      </li>
      <li>
        <a routerLink="/explore">
          <i class="far fa-compass"></i> Explore
        </a>
      </li>
      @if (isLoggedIn()) {
      <li>
        <a routerLink="/my-pages">
          <i class="far fa-user"></i> My Study Pages
        </a>
      </li>
      <li>
        <a routerLink="/tasks">
          <i class="far fa-check-square"></i> Tasks
        </a>
      </li>
      <li>
        <a routerLink="/stats">
          <i class="fas fa-chart-line"></i> Stats
        </a>
      </li>
      }
    </ul>

    @if (!isLoggedIn()) {
    <a routerLink="/sign-in" class="auth-link">
      <i class="fas fa-sign-in-alt"></i> Sign In
    </a>
    <a routerLink="/sign-up" class="auth-button">
      <i class="fas fa-user-plus"></i> Sign Up
    </a>
    } @else {
    <span class="welcome">Welcome, {{ username() }}!</span>
    <button class="logout-button" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
    }
  </div>
</nav>