<div class="task-card">

    <div class="card-header">

        <h2 class="task-title">{{ task.title }}</h2>


        <div class="header-actions">
            <span class="priority-badge" [ngClass]="task.priority">
                <ng-container [ngSwitch]="task.priority">
                    <span *ngSwitchCase="'high'">High</span>
                    <span *ngSwitchCase="'medium'">Medium</span>
                    <span *ngSwitchCase="'low'">Low</span>
                </ng-container>
            </span>


            <div class="actions" *ngIf="isLoggedIn">
                <button class="btn icon-btn" (click)="onEditClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="1.2em"
                        height="1.2em">
                        <path
                            d="M17.414 2.586a2 2 0 0 1 0 2.828l-1.121 1.121-2.828-2.828 1.121-1.121a2 2 0 0 1 2.828 0zM2 13.586V17h3.414l9.193-9.193-2.828-2.828L2 13.586z" />
                    </svg>
                </button>

                <button class="btn icon-btn" (click)="onDeleteTask()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="1.2em" height="1.2rem"
                        aria-hidden="true">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"></path>
                        <path d="M10 11v6"></path>
                        <path d="M14 11v6"></path>
                        <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2"></path>
                    </svg>
                </button>

            </div>
        </div>
    </div>


    <div class="progress-section">
        <p class="progress-label-heading">Progress</p>
        <div class="progress-bar-wrapper">
            <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="getCalculatedProgress()"></div>
            </div>
            <span class="progress-label">{{ getCalculatedProgress() }}%</span>
        </div>
    </div>


    <div class="subtask-section">
        <p class="subtask-label">Subtasks</p>
        <div class="subtask-list">
            <div *ngFor="let subtask of task.subtasks; let i = index" class="subtask-item">
                <input type="checkbox" [checked]="subtask.done" (change)="onToggleSubtask(i)"
                    [disabled]="!isLoggedIn" />
                <label>{{ subtask.text }}</label>
            </div>
        </div>
    </div>


    <div class="task-footer">
        <span class="subject-badge">
            <i class="fas fa-book-open"></i> {{ task.subject }}
        </span>
        <span class="due-date">
            <i class="far fa-calendar-alt"></i>
            Due: {{ task.due.toDate() | date: 'mediumDate' }}
        </span>
    </div>
</div>